body {
  background-color: thistle;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
  text-align: center;
}
.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: cornflowerblue;
  text-align: center;
}
.nav-item {
  float: left;
}
.nav-item a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navigation a:hover {
  background-color: lightpink;
}
.card {
  border: 3px solid;
  border-radius: 2px;
  float: left;
  max-width: 300px;
  margin-right: 10px;
  padding: 20px;
  position: relative;
  
}
img {
  object-fit: cover;
  max-width: 300px;
  margin: auto;
}
